################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/startrek1971/v16/.suo
/__pycache__/TrekStrings.cpython-37.pyc
/.vs/ProjectSettings.json
/__pycache__/strings.cpython-37.pyc
/__pycache__/AbsDisplay.cpython-37.pyc
/.vs/VSWorkspaceState.json
/__pycache__/Aliens.cpython-37.pyc
/__pycache__/Scanners.cpython-37.pyc
/__pycache__/Reports.cpython-37.pyc
/__pycache__/Controls.cpython-37.pyc
/__pycache__/Calculators.cpython-37.pyc
/__pycache__/Assets.cpython-37.pyc
/.vs/2020_12_20_StarTrek1971/v16/.suo
/__pycache__/Map.cpython-37.pyc
/__pycache__/MapGame.cpython-37.pyc
/__pycache__/AbsShip.cpython-37.pyc
/__pycache__/Glyphs.cpython-37.pyc
/.vs/slnx.sqlite-journal
/__pycache__/Charts.cpython-37.pyc
/.vs/PythonSettings.json
/__pycache__/Calculators.cpython-37.pyc.2654468500952
/__pycache__/Quadrant.cpython-37.pyc
/__pycache__/Quips.cpython-37.pyc
/__pycache__/Quadrant.cpython-37.pyc
/__pycache__/Points.cpython-37.pyc
/__pycache__/MapSparse.cpython-37.pyc
/__pycache__/MapSparce.cpython-37.pyc
/__pycache__/Console.cpython-37.pyc
/__pycache__/ShipStarbase.cpython-37.pyc
/__pycache__/ShipKlingon.cpython-37.pyc
/__pycache__/ShipEnterprise.cpython-37.pyc
/__pycache__/ErrorCollision.cpython-37.pyc
